@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;

    --background-end-rgb: 255, 255, 255;

  }
}

body {
  
}

.card{
  @apply bg-gray-600 rounded-[5px] shadow-md cursor-pointer mt-2 mb-2 py-3 px-2 text-lg md:text-2xl tracking-wider gap-x-6
}
